* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration:none ;
    transition: 0.3s;
}
.landing {
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
    position: relative;
    background-image: url(../img/5.jpg);
}
.landing::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(107 87 64 / 0.5);
}
/* rgb(197 73 0 / 22%)25%, */
.landing .logo {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 40PX;
    color: white;
}
.landing .header {
    margin: auto;
    width: fit-content;
    border-bottom: 1px solid #f1e4d4;
    backdrop-filter: blur(2px);
}
.landing .header ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.landing .header ul li{
    margin: 25px 20px;
}
.landing .header ul li:hover a{
    padding: 0 5px;
    color:rgb(255, 204, 65);
}

.landing .header ul li a{
    color: white;
}
.landing .text {
    position: absolute;
    top: 40%;
    right: 30%;
    text-align: center;
    backdrop-filter: blur(2px);
    border-radius: 50px;
    padding: 0 20px;
}
.landing .text .main{
    color: white;
    font-size: 70px;
    font-weight: 500;
}
.landing .text p{
    margin: 10px;
    color: #fff5df;
}
.landing .text button{
    border-radius: 5px;
    padding: 8px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid #ebb800;
    margin: 10px 0 15px;
    cursor: pointer;
}
.landing .text button:hover{
    background-color: #ebb40097;
}
.icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 25px;
    top: 45%;
    left: 15px;
    color: #e7dcc7;
}
.icons .one:hover{
    color: rgb(0, 166, 255);
}
.icons .two:hover{
    color: rgb(0, 187, 255)
}
.icons .three:hover{
    color: rgb(255, 21, 0);
}
